Source: nmsg-relay
Section: net
Priority: optional
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends: debhelper (>= 9), dh-golang, golang-go,
 golang-gopkg-yaml.v2-dev,
 golang-goprotobuf-dev,
 golang-github-farsightsec-go-config-dev,
 golang-github-farsightsec-go-config-env-dev,
 golang-github-farsightsec-go-nmsg-dev,
 golang-github-farsightsec-sielink-dev,
 golang-github-farsightsec-sielink-client-dev
Standards-Version: 3.9.8
XS-Go-Import-Path: github.com/farsightsec/nmsg-relay

Package: nmsg-relay
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SIE uploader for NMSG data
 A lightweight client which reads NMSG input from a datagram socket
 and submits it to the SIE.
